#Enviar un correo automático a gmail cada vez que se haga un evento a elegir
#Actualmente no es funcional puesto que necesita permisos en el script de python con el correo
#Ya que solo es una prueba faltaría configurar el correo para dar permisos de conexión y login

name: Correo automático
run-name: Correo automático
on: 
  workflow_dispatch:
    inputs:
      password:
        description: 'Añadir password'  
        required: true
        default: 'aaa'
        type: string
env: 
  CORREO_REMITENTE: 16lobaser@gmail.com
  CORREO_DESTINATARIO: 1999lopezbautistasergio@gmail.com
  CORREO_ASUNTO: GitHub Actions correo automático
  CORREO_CUERPO: Este correo es una prueba para automatizar correos desde GitHub Actions.
jobs:
  correo_automatico:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Definir variables
        run: >
              echo "REMITENTE=${{ env.CORREO_REMITENTE }}" >> $GITHUB_ENV &&
              echo "DESTINATARIO=${{ env.CORREO_DESTINATARIO }}" >> $GITHUB_ENV &&
              echo "ASUNTO=${{ env.CORREO_ASUNTO }}" >> $GITHUB_ENV &&
              echo "CUERPO=${{ env.CORREO_CUERPO }}" >> $GITHUB_ENV &&
              echo "PASSWORD=${{ inputs.password }}" >> $GITHUB_ENV 
      - name: Correr script
        run: python ./src/hola_correo_automatico.py