name: Reto 3
run-name: Reto 3. Expresiones
on: 
    workflow_dispatch:
        inputs:
            reto_expresiones:
                description: 'Si cumple con el requisito muestra una verificaci贸n'  
                required: true
                default: 'Cumple con el requisito'
                type: string
            no_reto_expresiones:
                description: 'Si no cumple con el requisito muestra una verificaci贸n cancelada'
                required: true
                default: 'Por desgracia no cumple el requisito'
                type: string
            validar:
                description: 'Numero igual a 73 para verificar'
                required: true
                default: '72'
                type: integer
jobs:
    cumple_reto:
        if: ${{ inputs.numero_entero == 73}}
        runs-on: ubuntu-latest
        steps: 
          - name: Checkout 
            uses: actions/checkout@v3 
          - name: Muestra la verificaci贸n
            run: echo ${{ inputs.reto_expresiones }}
    no_cumple_reto:
        if: ${{ inputs.numero_entero != 73}}
        runs-on: ubuntu-latest
        steps: 
          - name: Checkout 
            uses: actions/checkout@v3 
          - name: Muestra la verificaci贸n
            run: echo ${{ inputs.no_reto_expresiones }}