name: hola-mundo #nombre del workflow
on: [push]  #evento que lo activar치
jobs:  #Definici칩n de los jobs
  hola-mundo:  #Nombre del job
    runs-on: ubuntu-latest #M치quina en la que se ejecutar치
    steps: #lista de tareas a realizar
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js environment
        uses: actions/setup-node@v3.8.1
      
      - name: Correr script
        run: ./.github/script/hola_mundo.js
