name: Reto 6
run-name: Reto 6. Variables secretas de GitHub
on: push
jobs:
  mostrar_secretos:
    runs-on: ubuntu-latest
    env: 
      NOMBRE: Sergio López Bautista
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Mostrar secretos
        run: echo "$NOMBRE, tú contraseña es:${{ secrets.PRUEBA }}" 